{%- set nhours = nhours or 72 %}
{%- set make_stars = make_stars if make_stars is defined else 1 %}
{%- set events = events if events is defined else 0 %}
{{- marker("°"," ") }}{{- marker("'","") -}}
Alamnac generated {{today}} using {{ephemeris}} ephemeris.
{%- if iers_time %}
IERS time data until {{iers("T","I")}}, predictions until {{iers("T","P")}}
{%- if polar_motion %}
IERS polar motion data until {{iers("P","I")}}, predictions until {{iers("P","P")}}
{%- endif %}
{%- endif %}

{% for d in range(odays,odays+ndays) %}
{%- set t = datetime(year,1,1)+days(d) %}
{%- set t1 = t+days((nhours/24/2)|int) %}
{%- set t2 = t+hours(nhours/2) %}
{{-t|f("{:%Y %B %d (%a)}")}}  dUT1=UT1-UTC={{dut1(t2)|f("+0.0000s")}}  dTT=TT-UT1={{dtt(t2)|f("+0.0000s")}}

UT |        Sun        |               Moon                |   Aries  |{%- for p in planets %}{{(p+" "+mag(t2,p)|f("+0.0"))|f("{:^19}")}}|{% endfor %}
   |    GHA      Dec   |    GHA     v     Dec      d   HP  |    GHA   |{%- for p in planets %}    GHA      Dec   |{% endfor %}
 h |   °   '    °   '  |   °   '    '    °   '     '    '  |   °   '  |{%- for p in planets %}   °   '    °   '  |{% endfor %}
{% for h in range(nhours) -%}
{%- set th = t+duration(hours=h) %}{{th.hour|f(" 0")}} |
{%- set gha,dec=gha_dec(th,"Sun") %} {{gha|dm}} {{dec|dm}} |
{%- set gha,dec=gha_dec(th,"Moon") %} {{gha|dm}} {{v_value(th,"Moon")|f}} {{dec|dm}} {{d_value(th,"Moon")|f("-")}} {{hp_moon(th)|f}} |
{%- set gha,dec=gha_dec(th,"Aries") %} {{gha|dm}} |
{%- for p in planets -%}{%- set gha,dec=gha_dec(th,p) %} {{gha|dm}} {{dec|dm}} |{%- endfor %}
{% endfor -%}
{{""}}   |  SD {{SD(t2,"Sun")|f}}  d {{d_value(t2,"Sun")|f("-")}} |                SD {{SD(t2,"Moon")|f}}            |          |
{%- for p in planets %}  v {{v_value(t2,p)|f("-")}}  d {{d_value(t2,p)|f("-")}} |{%- endfor %}
   | EoT {{eqot(t1)|ms("+")}} {{eqot(t1+hours(12))|ms("+")}} |      Age {{age(t2)|f(" 0d")}}   Phase {{(phase(t2)*100)|f("  0%")}}         |      SHA |
{%- for p in planets %} {{sha_dec(t1,p)[0]|dm}}          |{%- endfor %}
   | MP    {{MP(t1,"Sun")|hm}}       |    Upper {{MP(t1,"Moon")|hm}}    Lower {{MP(t1,"Moon",upper=0)|hm}}     |  {{MP(t1,"Aries")|hm}}   |
{%- for p in planets %}       {{MP(t1,p)|hm}}       |{%- endfor %}

{% if make_stars -%}
{%- set cols=cols or 1 -%}
{% for i in range(cols) %}Star          |    SHA      Dec   | {% endfor %}
{% for i in range(cols) %}              |   °   '    °   '  | {% endfor %}
{% for s in stars|sort -%}{%- set sha,dec=sha_dec(t2,s) %}{{s|f("{:<13}")}} | {{sha|dm}} {{dec|dm}} | {{"" if loop.index%cols else "\n"}}{% endfor %}

{% endif -%}
{% if events -%}
Lat |   Twilight    |      Sun      |   Twilight    |     Moon      |
  ° | naut. | civil | rise  |  set  | civil | naut. | rise  |  set  |
{% set up=" *** " -%}{%- set dn=" ### " -%}{%- set tl="/////" -%}
{% for l in latitudes -%}
{{l|f(" -0")}}{{" | "}}
{%- set tw=twilight(t1,l) %}
{{-tw.get(2)|hm if tw.get(2) else tl if tw.get(4) else up if tw["max"]>3 else dn}}{{" | "}}
{{-tw.get(3)|hm if tw.get(3) else tl if tw.get(4) else up if tw["max"]>3 else dn}}{{" | "}}
{{-tw.get(4)|hm if tw.get(4) else up if tw["max"]>3 else dn}}{{" | "}}
{{-tw.get(-3)|hm if tw.get(-3) else up if tw["max"]>3 else dn}}{{" | "}}
{{-tw.get(-2)|hm if tw.get(-2) else tl if tw.get(4) else up if tw["max"]>3 else dn}}{{" | "}}
{{-tw.get(-1)|hm if tw.get(-1) else tl if tw.get(4) else up if tw["max"]>3 else dn}}{{" | "}}
{%- set m=moon_rs(t1,l) %}
{{-m.get(1)|hm if m.get(1) or m.get(0) else up if m["max"]>0 else dn}}{{" | "}}
{{-m.get(0)|hm if m.get(0) or m.get(1) else up if m["max"]>0 else dn}}{{" | "}}
{% endfor %}
{% endif -%}{{progress()-}}
{% endfor %}